#üõ†Ô∏è Prepara√ß√£o dos Dados

## Extra√ß√£o do Arquivo Tratado

In [3]:
# Importa a biblioteca pandas, usada para an√°lise e manipula√ß√£o de dados
import pandas as pd

In [4]:
# L√™ o arquivo CSV 'dados_tratados.csv' e armazena em um DataFrame chamado 'dados'
dados = pd.read_csv('dados_tratados.csv')

In [5]:
# Mostra as 5 primeiras linhas do DataFrame para inspecionar rapidamente os dados
dados.head()

,ID_Cliente,Churn,Genero,Idoso,Parceiro,Dependentes,Meses_Contrato,Servico_Telefonico,Assinatura_Multipla_Linha,Servico_Internet,...,Protecao_Dispositivo,Suporte_Tecnico,TV_Cabo,Streaming_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Gasto_Diario,Gasto_Mensal,Gasto_Total
0,0002-ORFBO,0,feminino,0,1,1,9,1,0,dsl,...,0,1,1,0,1 ano,1,cheque,2.20,65.6,593.30
1,0003-MKNFE,0,masculino,0,0,0,9,1,1,dsl,...,0,0,0,1,mensal,0,cheque,2.01,59.9,542.40
2,0004-TLHLJ,1,masculino,0,0,0,4,1,0,fibra √≥tica,...,1,0,0,0,mensal,1,cheque eletr√¥nico,2.34,73.9,280.85
3,0011-IGKFF,1,masculino,1,1,0,13,1,0,fibra √≥tica,...,1,0,1,1,mensal,1,cheque eletr√¥nico,3.17,98.0,1237.85
4,0013-EXCHZ,1,feminino,1,1,0,3,1,0,fibra √≥tica,...,0,1,1,0,mensal,1,cheque,2.97,83.9,267.40

## Remo√ß√£o de Colunas Irrelevantes

In [6]:
# Exibe informa√ß√µes gerais sobre o DataFrame: n√∫mero de linhas, colunas, tipos de dados e valores n√£o nulos
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Cliente                 7043 non-null   object
 1   Churn                      7043 non-null   int64
 2   Genero                     7043 non-null   object
 3   Idoso                      7043 non-null   int64
 4   Parceiro                   7043 non-null   int64
 5   Dependentes                7043 non-null   int64
 6   Meses_Contrato             7043 non-null   int64
 7   Servico_Telefonico         7043 non-null   int64
 8   Assinatura_Multipla_Linha  7043 non-null   int64
 9   Servico_Internet           7043 non-null   object
 10  Seguranca_Online           7043 non-null   int64
 11  Backup_Online              7043 non-null   int64
 12  Protecao_Dispositivo       7043 non-null   int64
 13  Suporte_Tecnico            7043 non-null   int64
 14  TV_Cabo                    7043 non-null   int64
 15  Streaming_Filmes           7043 non-null   int64
 16  Tipo_Contrato              7043 non-null   object
 17  Fatura_Online              7043 non-null   int64
 18  Forma_Pagamento            7043 non-null   object
 19  Gasto_Diario               7032 non-null   float64
 20  Gasto_Mensal               7043 non-null   float64
 21  Gasto_Total                7032 non-null   float64
dtypes: float64(3), int64(14), object(5)
memory usage: 1.2+ MB

In [7]:
# Remove a coluna 'ID_Cliente', ele √© apenas um identificador e n√£o √© relevante para a an√°lise
dados = dados.drop(columns='ID_Cliente')

## Normaliza√ß√£o ou Padroniza√ß√£o

Avalie a necessidade de normalizar ou padronizar os dados, conforme os modelos que ser√£o aplicados. Modelos baseados em dist√¢ncia, como **KNN, SVM, Regress√£o Log√≠stica e Redes Neurais**, requerem esse pr√©-processamento. J√° modelos baseados em **√°rvore, como Decision Tree, Random Forest e XGBoost**, n√£o s√£o sens√≠veis √† escala dos dados.

In [8]:
# Mostra a quantidade de valores nulos (NaN) em cada coluna
dados.isnull().sum()

Churn                         0
Genero                        0
Idoso                         0
Parceiro                      0
Dependentes                   0
Meses_Contrato                0
Servico_Telefonico            0
Assinatura_Multipla_Linha     0
Servico_Internet              0
Seguranca_Online              0
Backup_Online                 0
Protecao_Dispositivo          0
Suporte_Tecnico               0
TV_Cabo                       0
Streaming_Filmes              0
Tipo_Contrato                 0
Fatura_Online                 0
Forma_Pagamento               0
Gasto_Diario                 11
Gasto_Mensal                  0
Gasto_Total                  11
dtype: int64

In [9]:
# Exibe especificamente a quantidade de valores nulos nas colunas 'Gasto_Diario' e 'Gasto_Total'
print(dados[['Gasto_Diario', 'Gasto_Total']].isnull().sum())

Gasto_Diario    11
Gasto_Total     11
dtype: int64

In [10]:
# Remove todas as linhas que possuem valores nulos em 'Gasto_Diario' ou 'Gasto_Total'
dados = dados.dropna(subset=['Gasto_Diario', 'Gasto_Total'])

In [11]:
# Mostra a quantidade de valores nulos (NaN) em cada coluna
dados.isnull().sum()

Churn                        0
Genero                       0
Idoso                        0
Parceiro                     0
Dependentes                  0
Meses_Contrato               0
Servico_Telefonico           0
Assinatura_Multipla_Linha    0
Servico_Internet             0
Seguranca_Online             0
Backup_Online                0
Protecao_Dispositivo         0
Suporte_Tecnico              0
TV_Cabo                      0
Streaming_Filmes             0
Tipo_Contrato                0
Fatura_Online                0
Forma_Pagamento              0
Gasto_Diario                 0
Gasto_Mensal                 0
Gasto_Total                  0
dtype: int64

A **normaliza√ß√£o Min-Max**, que transforma os valores para o intervalo **\[0, 1]**. Isso ajuda a garantir que todas as vari√°veis num√©ricas contribuam de forma equilibrada para o modelo.

In [12]:
# Importa a classe MinMaxScaler da biblioteca scikit-learn.
# Ela √© usada para normalizar valores num√©ricos em um intervalo espec√≠fico (por padr√£o, entre 0 e 1).
from sklearn.preprocessing import MinMaxScaler

In [13]:
# Exibe os nomes de todas as colunas presentes no DataFrame 'dados'.
dados.columns

Index(['Churn', 'Genero', 'Idoso', 'Parceiro', 'Dependentes', 'Meses_Contrato',
       'Servico_Telefonico', 'Assinatura_Multipla_Linha', 'Servico_Internet',
       'Seguranca_Online', 'Backup_Online', 'Protecao_Dispositivo',
       'Suporte_Tecnico', 'TV_Cabo', 'Streaming_Filmes', 'Tipo_Contrato',
       'Fatura_Online', 'Forma_Pagamento', 'Gasto_Diario', 'Gasto_Mensal',
       'Gasto_Total'],
      dtype='object')

In [14]:
# Cria uma lista com os nomes das colunas num√©ricas que ser√£o normalizadas.
colunas_numericas = ['Meses_Contrato','Gasto_Diario','Gasto_Mensal','Gasto_Total']

In [15]:
# Cria um objeto "scaler" da classe MinMaxScaler, configurado com o intervalo padr√£o (0 a 1).
scaler = MinMaxScaler()

In [16]:
# Aplica a normaliza√ß√£o Min-Max √†s colunas num√©ricas selecionadas.
# O m√©todo fit_transform() primeiro "aprende" os valores m√≠nimo e m√°ximo de cada coluna (fit)
# e depois transforma os dados para ficarem no intervalo [0, 1] (transform).
# O resultado substitui os valores originais no DataFrame.
dados[colunas_numericas] = scaler.fit_transform(dados[colunas_numericas])

In [17]:
# Exibe as 5 primeiras linhas do DataFrame j√° com os valores normalizados.
dados.head()

,Churn,Genero,Idoso,Parceiro,Dependentes,Meses_Contrato,Servico_Telefonico,Assinatura_Multipla_Linha,Servico_Internet,Seguranca_Online,...,Protecao_Dispositivo,Suporte_Tecnico,TV_Cabo,Streaming_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Gasto_Diario,Gasto_Mensal,Gasto_Total
0,0,feminino,0,1,1,0.112676,1,0,dsl,0,...,0,1,1,0,1 ano,1,cheque,0.484680,0.471144,0.066294
1,0,masculino,0,0,0,0.112676,1,1,dsl,0,...,0,0,0,1,mensal,0,cheque,0.431755,0.414428,0.060420
2,1,masculino,0,0,0,0.042254,1,0,fibra √≥tica,0,...,1,0,0,0,mensal,1,cheque eletr√¥nico,0.523677,0.553731,0.030239
3,1,masculino,1,1,0,0.169014,1,0,fibra √≥tica,0,...,1,0,1,1,mensal,1,cheque eletr√¥nico,0.754875,0.793532,0.140670
4,1,feminino,1,1,0,0.028169,1,0,fibra √≥tica,0,...,0,1,1,0,mensal,1,cheque,0.699164,0.653234,0.028687

## Encoding

In [18]:
# Importa fun√ß√µes do scikit-learn:
# - make_column_transformer: permite aplicar transforma√ß√µes diferentes em colunas espec√≠ficas de um DataFrame.
# - OneHotEncoder: converte vari√°veis categ√≥ricas em vari√°veis dummies (0/1), criando uma coluna para cada categoria.
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [19]:
# Cria uma c√≥pia do DataFrame original 'dados' para n√£o alterar os dados originais.
dados_encoded = dados.copy()

In [20]:
# Armazena todos os nomes das colunas do DataFrame na vari√°vel 'colunas'.
colunas = dados_encoded.columns
# Exibe a lista de colunas do DataFrame (√∫til para confer√™ncia).
colunas

Index(['Churn', 'Genero', 'Idoso', 'Parceiro', 'Dependentes', 'Meses_Contrato',
       'Servico_Telefonico', 'Assinatura_Multipla_Linha', 'Servico_Internet',
       'Seguranca_Online', 'Backup_Online', 'Protecao_Dispositivo',
       'Suporte_Tecnico', 'TV_Cabo', 'Streaming_Filmes', 'Tipo_Contrato',
       'Fatura_Online', 'Forma_Pagamento', 'Gasto_Diario', 'Gasto_Mensal',
       'Gasto_Total'],
      dtype='object')

In [21]:
# Cria o transformador configurado para aplicar OneHotEncoder nas colunas especificadas.
one_hot = make_column_transformer((OneHotEncoder(drop='if_binary'),                                   # O par√¢metro drop='if_binary' evita criar duas colunas para vari√°veis bin√°rias (mant√©m apenas uma).
                                   ['Genero', 'Servico_Internet','Tipo_Contrato','Forma_Pagamento']), # Aplica OneHotEncoder nas colunas categ√≥ricas selecionadas.
                                  remainder='passthrough',                                            # Mant√©m as demais colunas do DataFrame sem altera√ß√µes.
                                  sparse_threshold=0)                                                 # Garante que o resultado final seja um array denso (n√£o esparso), facilitando a convers√£o para DataFrame.

In [22]:
# Ajusta (fit) o transformador aos dados e aplica (transform) a codifica√ß√£o.
# O resultado ser√° um array NumPy com as colunas categ√≥ricas transformadas e as num√©ricas preservadas.
dados_encoded = one_hot.fit_transform(dados_encoded)

In [23]:
# Retorna os nomes das novas colunas ap√≥s a transforma√ß√£o, incluindo as criadas pelo OneHotEncoder.
one_hot.get_feature_names_out(colunas)

array(['onehotencoder__Genero_masculino',
       'onehotencoder__Servico_Internet_dsl',
       'onehotencoder__Servico_Internet_fibra √≥tica',
       'onehotencoder__Servico_Internet_n√£o',
       'onehotencoder__Tipo_Contrato_1 ano',
       'onehotencoder__Tipo_Contrato_2 anos',
       'onehotencoder__Tipo_Contrato_mensal',
       'onehotencoder__Forma_Pagamento_cart√£o de cr√©dito',
       'onehotencoder__Forma_Pagamento_cheque',
       'onehotencoder__Forma_Pagamento_cheque eletr√¥nico',
       'onehotencoder__Forma_Pagamento_transfer√™ncia banc√°ria',
       'remainder__Churn', 'remainder__Idoso', 'remainder__Parceiro',
       'remainder__Dependentes', 'remainder__Meses_Contrato',
       'remainder__Servico_Telefonico',
       'remainder__Assinatura_Multipla_Linha',
       'remainder__Seguranca_Online', 'remainder__Backup_Online',
       'remainder__Protecao_Dispositivo', 'remainder__Suporte_Tecnico',
       'remainder__TV_Cabo', 'remainder__Streaming_Filmes',
       'remainder__Fatura_Online', 'remainder__Gasto_Diario',
       'remainder__Gasto_Mensal', 'remainder__Gasto_Total'], dtype=object)

In [33]:
# Converte o array transformado de volta para um DataFrame pandas.
# Define os nomes das colunas como os retornados pelo get_feature_names_out(), para manter o DataFrame leg√≠vel.
dados_encoded = pd.DataFrame(dados_encoded, columns=one_hot.get_feature_names_out(colunas))

## Verifica√ß√£o da Propor√ß√£o de Evas√£o

In [40]:
proporcao = dados['Churn'].value_counts(normalize=True)
print("\nPropor√ß√£o (%):")
print(round(proporcao * 100, 2))

Propor√ß√£o (%):
Churn
0    73.42
1    26.58
Name: proportion, dtype: float64

#üéØ Correla√ß√£o e Sele√ß√£o de Vari√°veis

#ü§ñ Modelagem Preditiva

#üìã  Interpreta√ß√£o e Conclus√µes